<%inherit file="base.html"/>
<%doc>
  Note that the base file already contains a "container" div with appropriate
  spacing for the navbar
</%doc>
<div class="jumbotron homepage-jumbotron">
  <h1>Good Morning Wake Up Happy Katie Sunshine Alarm!</h1>
  <p class="lead">Your husband's love starts your day on a bright and shining note!</p>
  <hr/>
  <p>Set alarm for ${day}</p>
  <form action="/set_alarm", method="POST">
    <input name="time" type="time" value="${time}"/>
    <input type="submit" class="btn btn-primary btn-lg"></input>
  </form>
</div><!-- /jumbotron -->
